<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lihat Gudang</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid" align="center">
    <h3 th:text="'Detail Gudang'"></h3>
    <p th:text="'Nama    : ' + ${gudang.nama}"></p>
    <p th:text="'Alamat    : ' + ${gudang.alamat}"></p>
    <p th:text="'Jumlah Obat ' + ${gudang.listObat.size()}" ></p>
<!--    PILIH OBAT TRUS DI KANANNYA ADA TOMBOL SUBMIT-->
    <table class="table">
        <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode</th>
            <th scope="col">Nama</th>
            <th scope="col">Harga</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obat, iterationStatus : *{gudang.listObat}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${obat.kode}"></td>
            <td th:text="${obat.nama}"></td>
            <td th:text="${obat.getHarga()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>